---

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>hockerman.com</title>
	</head>
	<body>
    <slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Space Mono';
		src: url('/fonts/space-mono-regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'JetBrainsMono';
		src: url('/fonts/jetbrainsmono-regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>
