:root {
  --color-cobalt-950: oklch(0.1371 0.0112 284.82);
  --color-cobalt-900: oklch(0.1776 0.0185 284.36);
  --color-cobalt-800: oklch(0.2874 0.04 283.6);
  --color-cobalt-700: oklch(0.4197 0.0661 283.18);
  --color-cobalt-600: oklch(0.509 0.0849 282.96);
  --color-cobalt-500: oklch(0.6265 0.0659 284.34);
  --color-cobalt-400: oklch(0.7419 0.0444 285.27);
  --color-cobalt-300: oklch(0.8178 0.0307 285.7);
  --color-cobalt-200: oklch(0.8922 0.0177 286.04);
  --color-cobalt-100: oklch(0.9303 0.0107 286.19);
  --color-cobalt-50: oklch(0.9653 0.0053 286.3);

  --color-cobalt-accent-high: #FF7096;
  --color-cobalt-accent-med: #EED495;
  --color-cobalt-accent-low: #40DDCB;
}

.bg-cobalt-950 {
  background-color: var(--color-cobalt-950);
}

.border-cobalt-950 {
  border-color: var(--color-cobalt-950);
}

.text-cobalt-950 {
  color: var(--color-cobalt-950);
}

.bg-cobalt-900 {
  background-color: var(--color-cobalt-900);
}

.border-cobalt-900 {
  border-color: var(--color-cobalt-900);
}

.text-cobalt-900 {
  color: var(--color-cobalt-900);
}

.bg-cobalt-800 {
  background-color: var(--color-cobalt-800);
}

.border-cobalt-800 {
  border-color: var(--color-cobalt-800);
}

.text-cobalt-800 {
  color: var(--color-cobalt-800);
}

.bg-cobalt-700 {
  background-color: var(--color-cobalt-700);
}

.border-cobalt-700 {
  border-color: var(--color-cobalt-700);
}

.text-cobalt-700 {
  color: var(--color-cobalt-700);
}

.bg-cobalt-600 {
  background-color: var(--color-cobalt-600);
}

.text-cobalt-600 {
  color: var(--color-cobalt-600);
}

.border-cobalt-600 {
  border-color: var(--color-cobalt-600);
}

.bg-cobalt-500 {
  background-color: var(--color-cobalt-500);
}

.border-cobalt-500 {
  border-color: var(--color-cobalt-500);
}

.text-cobalt-500 {
  color: var(--color-cobalt-500);
}

.bg-cobalt-400 {
  background-color: var(--color-cobalt-400);
}

.border-cobalt-400 {
  border-color: var(--color-cobalt-400);
}

.text-cobalt-400 {
  color: var(--color-cobalt-400);
}

.bg-cobalt-300 {
  background-color: var(--color-cobalt-300);
}

.border-cobalt-300 {
  border-color: var(--color-cobalt-300);
}

.text-cobalt-300 {
  color: var(--color-cobalt-300);
}

.bg-cobalt-200 {
  background-color: var(--color-cobalt-200);
}

.border-cobalt-200 {
  border-color: var(--color-cobalt-200);
}

.text-cobalt-200 {
  color: var(--color-cobalt-200);
}

.bg-cobalt-100 {
  background-color: var(--color-cobalt-100);
}

.border-cobalt-100 {
  border-color: var(--color-cobalt-100);
}

.text-cobalt-100 {
  color: var(--color-cobalt-100);
}

.bg-cobalt-50 {
  background-color: var(--color-cobalt-50);
}

.border-cobalt-50 {
  border-color: var(--color-cobalt-50);
}

.text-cobalt-50 {
  color: var(--color-cobalt-50);
}

.bg-cobalt-accent-high {
  background-color: var(--color-cobalt-accent-high);
}

.text-cobalt-accent-high {
  color: var(--color-cobalt-accent-high);
}

.bg-cobalt-accent-med {
  background-color: var(--color-cobalt-accent-med);
}

.text-cobalt-accent-med {
  color: var(--color-cobalt-accent-med);
}

.bg-cobalt-accent-low {
  background-color: var(--color-cobalt-accent-low);
}

.text-cobalt-accent-low {
  color: var(--color-cobalt-accent-low);
}

.bg-cobalt-gradient-full {
  background: linear-gradient(
    90deg,
    var(--color-cobalt-50) 0%,
    var(--color-cobalt-100) 10%,
    var(--color-cobalt-200) 20%,
    var(--color-cobalt-300) 30%,
    var(--color-cobalt-400) 40%,
    var(--color-cobalt-500) 50%,
    var(--color-cobalt-600) 60%,
    var(--color-cobalt-700) 70%,
    var(--color-cobalt-800) 80%,
    var(--color-cobalt-900) 90%,
    var(--color-cobalt-950) 100%
  );
}
