---
interface Props {
  underline?: boolean;
}
---
<div class="title"><slot /></div>
<style>
  .title {
    color: #f3e5f5;
    font-family: 'JetBrainsMono';
    font-size: 1.7rem;
    {underline ? "border-bottom: 1px solid #f3e5f5;" : ""}
    {underline ? "width: 75%;" : ""}
  }
  @media only screen and (max-width: 600px) {
    .title {
      font-size: 1.2rem;
    }
  }
</style>
