---
interface Props {
  href?: string;
  rel?: "noopener";
  target?: "_blank";
}

const { href, rel, target } = Astro.props;
---
<a class="link" href={href ? href : "#"} rel={rel} target={target}><slot /></a>
<style>
  .link {
    color: #b2ebf2;
    font-family: 'JetBrainsMono';
    line-height: 1.4;
  }
  @media only screen and (max-width: 600px) {
    .link {
      font-size: 0.9rem;
    }
  }
</style>
