@keyframes ease-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.viewportContainer {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #FF8080, #FFCF96, #F6FDC3, #CDFAD5, #B4E4FF, #BA90C6);
	background-size: 400% 400%;
  background-size: 400% 400%;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -2;
}

.artDragBlocker {
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 140vw;
}

.bgimage {
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-name: ease-in;
  background-size: cover;
  filter: blur(4px);
  height: 35vh;
  opacity: 0;
  user-select: none;
  width: 35vh;
}
