.container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 600px) {
  .spotifyIconContainer {
    display: none;
  }
}

.nowPlayingContainer {
  display: flex;
  flex-direction: column;
}

.artistLine {
  display: flex;
  flex-direction: row;
}

.spotifyIconContainer {
  margin-right: 24px;
}

.faicon {
  color: #28323E;
}

.texth1 {
  color: #28323E;
  font-size: 1.4rem;
  font-style: italic;
}

.textfaded {
  color: #50647C;
  font-size: 1.1rem;
}

.text {
  color: #28323E;
  font-size: 1.1rem;
}
