.container {
  align-items: flex-start;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, .7);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  padding: 16px 16px 8px 16px;
  width: 100%;
}

.title {
  font-size: 1.2rem;
}

.subtitle {
  font-size: 0.8rem;
  margin-left: 8px;
}

.content {
  padding: 16px 64px 16px 16px;
}
