---
interface Props {}
---
<div id="gradient">
  <slot />
</div>
<style>
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  #gradient {
    animation: gradient 15s ease infinite;
    background: linear-gradient(-45deg, #FF8080, #FFCF96, #F6FDC3, #CDFAD5, #B4E4FF, #BA90C6);
    background-size: 400% 400%;
    min-height: 100vh;
  }
</style>
