---
import TextLight from '../text/TextLight.astro';
import TextNormal from '../text/TextNormal.astro';

interface Props {}
---
<span class="container">
  <TextLight>{`"`}</TextLight>
  <TextNormal><slot/></TextNormal>
  <TextLight>{`": `}</TextLight>
  &nbsp;
</span>
<style>
  .container {
    display: flex;
  }
</style>
