@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.header {
  color: #28323E;
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 8px;
}

.recentlyPlayedList {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media only screen and (max-width: 600px) {
  .recentlyPlayedWhen {
    display: none;
  }
}
