.container {
  animation: fadeIn 2s;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, .3);
  border-radius: 8px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  padding: 16px 64px 16px 16px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.header {
  color: #28323E;
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 40px;
}

.recentlyPlayedItem {
  margin-bottom: 4px;
}

@media only screen and (max-width: 600px) {
  .recentlyPlayedWhen {
    display: none;
  }
}
