@keyframes ease-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.05;
  }
}

.bgimage {
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-name: ease-in;
  background-size: cover;
  filter: blur(2px);
  opacity: 0;
  height: 35vh;
  user-select: none;
  width: 35vh;
}
