.container {
  align-items: center;
  animation: fadeIn 1s;
  display: flex;
  flex-direction: row;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 600px) {
  .container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}

.songTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spotifyIconContainer {
  color: "white";
  margin-right: 2px;
  margin-top: 2px;
}
