---
import { Icon } from 'astro-icon/components';

import { getSpotifyCurrentlyPlayingSong } from "../../server/spotify/getSpotifyCurrentlyPlayingSong";
import GlassCard from "../GlassCard.astro";

const { item } = await getSpotifyCurrentlyPlayingSong();
const track = item === "none" ? "" : item.name;
const artist = item === "none" ? "Nothing Playing" : item.artists[0].name;
const album = item === "none" ? "" : item.album.name;
---
<GlassCard>
  <div class="flex flex-row items-center ">
    <div class="mr-4">
      <Icon class="h-10 w-10 text-zinc-300" name="fa6-brands:spotify" />
    </div>
    <div class="flex flex-col">
      <span class="text-lg lg:text-xl text-zinc-200 italic transition-all">
        {track}
      </span>
      <span class="text-sm lg:text-md text-zinc-400 transition-all">
        {artist}
      </span>
      <span class="text-sm lg:text-md text-zinc-400 transition-all">
        {album}
      </span>
    </div>
  </div>
</GlassCard>