---
import { Icon } from 'astro-icon/components';

import GlassCard from "../GlassCard.astro";
import SpotifyNowPlayingBannerContent from './SpotifyNowPlayingBannerContent';
---
<div class="fade-in">
  <GlassCard>
    <div class="container">
      <div class="mr-4">
        <Icon class="h-10 w-10 text-zinc-300" name="fa6-brands:spotify" />
      </div>
      <div class="flex flex-col">
        <SpotifyNowPlayingBannerContent client:load />
      </div>
    </div>
  </GlassCard>
</div>
<style>
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fade-in 1s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  @media only screen and (max-width: 600px) {
    .spotifyIconContainer {
      display: none;
    }
  }
</style>
