---
import SpotifyAlbumCollageImages from "./SpotifyAlbumCollageImages";
---
<div>
  <div class="xart-drag-blocker" />
  <div class="xviewport">
    <div class="xcontainer flex flex-row flex-wrap">
      <SpotifyAlbumCollageImages client:load />
    </div>
  </div>
</div>
<style>
  @keyframes ease-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.4;
    }
  }
  .xart-drag-blocker {
    height: 100vh;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
  }
  .xviewport {
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -2;
  }
  .xcontainer {
    width: 140vw;
  }
  @media only screen and (max-width: 600px) {
    .xcontainer {
      width: 180vw;
    }
  }
</style>