---
import Badge from '../components/Badge.astro';
import ClickableNoDecoration from '../components/ClickableNoDecoration.astro';
import SpotifyNowPlayingBadgeText from '../components/spotify/SpotifyNowPlayingBadgeText.astro';
import ContentLayout from '../layouts/ContentLayout.astro';
import RootLayout from '../layouts/RootLayout.astro';
---
<RootLayout title="Mike Hockerman">
	<ContentLayout>
		<span class="text-xl italic text-slate-200 mb-2">Mike Hockerman</span>
		<div class="flex flex-row flex-wrap gap-2 mb-2">
			<ClickableNoDecoration href="mailto:mike@hockerman.com" target="_blank">
				<Badge hover icon="fa6-solid:envelope">mike@hockerman.com</Badge>
			</ClickableNoDecoration>
			<ClickableNoDecoration href="/resume" target="_self">
				<Badge hover icon="fa6-solid:file-lines">Resume</Badge>
			</ClickableNoDecoration>
			<ClickableNoDecoration href="https://github.com/mhoc" target="_blank">
				<Badge hover icon="fa6-brands:github">mhoc</Badge>
			</ClickableNoDecoration>
			<ClickableNoDecoration href="https://linkedin.com/in/mhoc" target="_blank">
				<Badge hover icon="fa6-brands:linkedin">mhoc</Badge>
			</ClickableNoDecoration>
		</div>
		<ClickableNoDecoration href="/music" target="_self">
			<Badge hover icon="fa6-brands:spotify">
				<div class="fade-in">
					<SpotifyNowPlayingBadgeText />
				</div>
			</Badge>
		</ClickableNoDecoration>
	</ContentLayout>
</RootLayout>
<style>
	@keyframes fade-in {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}
	.fade-in {
		animation: fade-in 0.1s ease-out 0.2s;
		animation-fill-mode: forwards;
		min-width: 220px;
		opacity: 0;
	}
</style>