---
import Badge from "../components/common/Badge.astro"
import ClickableNoDecoration from "../components/common/ClickableNoDecoration.astro"
import ResumeExperienceList from "../components/resume/ResumeExperienceList"
import ContentLayout from "../layouts/ContentLayout.astro"
import RootLayout from "../layouts/RootLayout.astro"
---
<RootLayout title="Mike Hockerman">
  <ContentLayout>
    <div class="flex flex-row mb-2 items-center">
      <span class="text-md text-zinc-200 mr-4">
        things i've done
      </span>
      <ClickableNoDecoration href="/resume-v9-mike-hockerman.pdf" target="_blank">
        <Badge hover size="sm">in pdf</Badge>
      </ClickableNoDecoration>
    </div>
    <ResumeExperienceList client:load />
  </ContentLayout>
</RootLayout>
