---
import { Icon } from 'astro-icon/components'

interface Props {
  hover?: boolean;
  icon?: string;
}
const { hover, icon } = Astro.props;
---
<div class:list={["flex flex-row items-center px-2 py-1 border border-zinc-200 transition-all xcontainer", { "xhover": hover }]}}>
  <Icon class="xicon h-5 w-5 text-zinc-200 transition" name={icon} />
  <span class:list={["xlabel text-zinc-200 text-md transition", { "ml-2": !!icon }]}>
    <slot />
  </span>
</div>
<style>
  .xcontainer {
    border-radius: 300px;
  }
  .xicon {
    transition-duration: 800ms;
  }
  .xlabel {
    transition-duration: 800ms;
  }
  .xhover {
    background: linear-gradient(to left, rgba(0,0,0,0) 50%, #e4e4e7 50%) right;
    background-size: 300% 100%;
    transition-duration: 800ms;
  }
  .xhover:hover {
    background-position: left;
  }
  .xhover:hover .xicon {
    color: #27272a;
  }
  .xhover:hover .xlabel {
    color: #27272a;
  }
</style>
