---
interface Props {}
---
<div class="xcontainer flex flex-col items-start rounded-lg">
  <div class="pt-4 pr-12 pb-4 pl-4">
    <slot />
  </div>
</div>
<style>
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .xcontainer {
    backdrop-filter: blur(8px);
  }
</style>