---
import SpotifyNowPlayingBanner from "../components/spotify/SpotifyNowPlayingBanner.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import GradientBackgroundLayout from "../layouts/GradientBackgroundLayout.astro";
import RootLayout from "../layouts/RootLayout.astro";
---
<RootLayout title="Music">
  <GradientBackgroundLayout>
    <main>
      <ContentLayout>
        <SpotifyNowPlayingBanner />
      </ContentLayout>
    </main>
  </GradientBackgroundLayout>
</RootLayout>
