---
import { Icon } from 'astro-icon/components'
import IconAppleHealthRings from './IconAppleHealthRings.astro';

interface Props {
  hover?: boolean;
  icon?: string;
  size?: "md" | "sm";
}

const { hover, icon, size = "md" } = Astro.props;
---
<div class:list={[
  "flex flex-row items-center border border-zinc-600 transition-all rounded-2xl",
  { "xhover": hover },
  { "px-4 py-1": size === "md"},
  { "px-2": size === "sm" }
]}}>
  {icon && icon === "xcustom:apple-health-rings" && 
    <IconAppleHealthRings />
  }
  {icon && icon !== "xcustom:apple-health-rings" &&
    <Icon class="xicon h-6 w-6 text-zinc-300 transition" name={icon} />
  }
  <span class:list={[
    "xlabel text-zinc-300 transition",
    { "ml-2": !!icon },
    { "text-md": size === "md" },
    { "text-sm": size === "sm" }
  ]}>
    <slot />
  </span>
</div>
<style>
  .xicon {
    transition-duration: 800ms;
  }
  .xlabel {
    transition-duration: 800ms;
  }
  .xhover {
    background: linear-gradient(to left, rgba(0,0,0,0) 50%, #e4e4e7 50%) right;
    background-size: 300% 100%;
    transition-duration: 800ms;
  }
  .xhover:hover {
    background-position: left;
  }
  .xhover:hover .xicon {
    color: #27272a;
  }
  .xhover:hover .xlabel {
    color: #27272a;
  }
</style>
