---
import Global from "../Global.astro"
import TypingCursor from "../../components/prompt/TypingCursor.astro"
import TextHeader from "../../components/text/TextHeader.astro"
import TextLight from "../../components/text/TextLight.astro"
import PromptNavItem from "./PromptNavItem.astro"

interface Props {
  header: any
  nav: { label: string, href?: string }[]
}

const { header, nav } = Astro.props
---
<Global>
  <header>
    <div class="global-container">
      <div class="nav-container">
        <div class="pwd">
          <TextLight>$PWD=</TextLight>
          {nav.map(({ href, label }) => <PromptNavItem href={href} label={label} />)}
          <TextLight>/</TextLight>
        </div>
      </div>
      <div class="header-container">
        <TextHeader>
          {header}
          <TypingCursor />
        </TextHeader>
      </div>
    </div>
  </header>
  <main>
    <slot />
  </main>
</Global>
<style>
  html {
    background-color: #000a12;
    margin: 0;
  }
  .global-container {
    max-width: 1200px;
    padding: 15vh 10vw;
  }
  @media only screen and (max-width: 600px) {
    .global-container {
      padding: 15vh 5vw;
    }
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }
  .pwd {
    display: flex; 
    flex-direction: row;
  }
  .header-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
  }
  .tab-container {
    margin-right: 8px;
    padding: 2px 4px;
  }
  .tab-selected {
    border-radius: 4px;
    border: 1px solid #b2ebf2;
  }
</style>
