---
import { formatDistanceToNow } from 'date-fns';
import { supabase } from '../../server/lib/Supabase';
import Badge from '../common/Badge.astro';

const heartRate = await supabase.from("apple_health_metrics")
  .select("*")
  .eq("metric", "heart_rate:avg")
  .order('at', { ascending: false })
  .limit(1);

const hrDoc = heartRate.data?.at(0);
let text;
if (hrDoc) {
  text = `${hrDoc.value.toFixed(0)} `
} else {
  text = 'No Data'
}
---
<Badge color='text-red-400' hover icon="fa6-solid:heart-pulse">
  {hrDoc && (
    <span class='text-md'>{hrDoc.value.toFixed(0)}</span>
    <span class='text-xs text-zinc-600'>({formatDistanceToNow(hrDoc.at, { addSuffix: true })})</span>
  )}
</Badge>