---
import Badge from '../common/Badge.astro';
import { startOfDay } from 'date-fns';
import { supabase } from '../../server/lib/Supabase';

const [activeEnergy, appleExerciseTime, appleStandHour] = await Promise.all([
  (await supabase.from("apple_health_metrics")
  .select("*")
  .eq("metric", "active_energy")
  .gte("at", startOfDay(new Date()).toISOString()))
  .data?.reduce((p, v) => p + v.value, 0)
  ?.toFixed(0) ?? "0",
  (await supabase.from("apple_health_metrics")
  .select("*")
  .eq("metric", "apple_exercise_time")
  .gte("at", startOfDay(new Date()).toISOString()))
  .data?.reduce((p, v) => p + v.value, 0)
  ?.toFixed(0) ?? "0",
  (await supabase.from("apple_health_metrics")
  .select("*")
  .eq("metric", "apple_stand_hour")
  .gte("at", startOfDay(new Date()).toISOString()))
  .data?.reduce((p, v) => p + v.value, 0)
  ?.toFixed(0) ?? "0"
]);
---
<Badge hover icon="xcustom:apple-health-rings">
  <span class='flex flex-row gap-2'>
    <span class='flex flex-row items-baseline gap-1'>
      <span class='text-md'>{activeEnergy}</span>
      <span class='text-xs text-zinc-600'>kcal</span>
    </span>
    <span class='flex flex-row items-baseline gap-1'>
      <span class='text-md'>{appleExerciseTime}</span>
      <span class='text-xs text-zinc-600'>min</span>
    </span>
    <span class='flex flex-row items-baseline gap-1'>
      <span class='text-md'>{appleStandHour}</span>
      <span class='text-xs text-zinc-600'>hr</span>
    </span>
  </span>
</Badge>
