---
---
<main>
  <div class="flex flex-col items-start max-w-8xl xcontainer">
    <slot />
  </div>
</main>
<style>
  .xcontainer {
    padding: 10vh 8vw;
  }
  @media only screen and (max-width: 600px) {
    .xcontainer {
      padding: 10vh 16px;
    }
  }
</style>