---
interface Props {}
---
<div id="container">
  <slot />
</div>
<style>
  #container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    max-width: 1200px;
    padding: 10vh 8vw;
  }
</style>