---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Mike Hockerman's Personal Website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-display: swap;
		font-family: 'Inconsolata';
		font-style: normal;
		font-weight: normal;
		src: url('/fonts/inconsolata.ttf');
	}
	html {
		background: #13151a;
		background-size: 224px;
		font-family: Inconsolata, monospace;
	}
	body {
		margin: 0px;
	}
</style>