---
import { Icon } from 'astro-icon/components'

interface Props {
  hover?: boolean;
  icon?: string;
}
const { hover, icon } = Astro.props;
---
<div class:list={["container", { "with-hover": hover }]}}>
  <Icon class="icon" name={icon} />
  <span class:list={["label", { "label-with-icon": !!icon }]}>
    <slot />
  </span>
</div>
<style>
  .container {
    align-items: center;
    border: 1px solid #28323E;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    padding: 4px 12px 4px 12px;
    transition: .25s ease-out;
  }
  .icon {
    color: #28323E;
    height: 22px;
    transition: .25s ease-out;
    width: 22px;
  }
  .label {
    color: #28323E;
    font-size: 0.8rem;
    transition: .25s ease-out;
  }
  .label-with-icon {
    margin-left: 8px;
  }
  .with-hover {
    background: linear-gradient(to left, rgba(0,0,0,0) 50%, #28323E 50%) right;
    background-size: 200% 100%;
  }
  .with-hover:hover {
    background-position: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .with-hover:hover .icon {
    color: #ECF0F1;
  }
  .with-hover:hover .label {
    color: #ECF0F1;
  }
</style>
